@import "../../variables.scss";

img.poster {
  width: 100%;
  margin: 0.5em 0;

  @include landscapeAndTablet {
    width: 50%;
  }

  @include smallDesktop {
    width: 40%;
  }

  @include bigDesktop {
    width: 30%;
  }
}
