@import "../../variables.scss";

ul.moviesListWrapper {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  list-style: none;
  overflow: scroll;
  padding: 1em;

  @include landscapeAndTablet {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  @include bigDesktop {
    margin-top: 1.5em;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  li.movieWrapper {
    box-shadow: 0 0 7px 2px $neutralColor;
    width: 95%;
    padding: 1em;
    margin: 1em auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    min-height: 400px;

    @include landscapeAndTablet {
      width: 45%;
    }

    @include bigDesktop {
      width: 20%;
      margin: 1em;
    }

    .label {
      text-align: center;

      h3.title {
        font-size: 1.2rem;
        color: $darkColor;
      }

      span.yearInfo {
        font-size: 0.8rem;
        color: $neutralColor;
      }
    }

    img {
      max-width: 200px;
      max-height: 300px;
      margin-top: 0.5em;

      @include bigDesktop {
        width: 90%;
        margin: 1em;
      }
    }
  }
}
