@import "../../variables.scss";

.modalFetchMovies {
  width: 80vw;
  height: 90vh;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
  padding: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  @include desktop {
    width: 70vw;
  }

  h1.label {
    text-transform: uppercase;
    color: $neonColor;
  }
}
